git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
pyyaml
matplotlib
jishaku
git+https://github.com/Rapptz/discord-ext-menus
youtube_dl
psutil
PILLOW
asyncpg
click
dateparser
parsedatetime
pytz
beautifulsoup4
async-cse
gitpython
lru-dict
cleverbot.py[async]
discord-flags<=2.1.1
wolframalpha
pymediawiki
python-dateutil
rich
