discord.py[voice]>=1.2.5
pyyaml
matplotlib
jishaku
git+https://github.com/Rapptz/discord-ext-menus
youtube_dl
psutil
PILLOW
asyncpg
click
dateparser
parsedatetime
pytz
beautifulsoup4
async-cse
gitpython
